.about {
  display: none;

  @include desktop {
    display: flex;
    &__list {
      display: flex;
      gap: 30px;
      padding-top: 50px;
    }

    &__item {
      position: relative;
    }

    &__subtitle {
      position: absolute;
      background: rgba(47, 48, 58, 0.8);
      padding-top: 27px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--second-color);
      top: 224px;
      padding-bottom: 27px;
      align-content: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.667;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--brand-color);
      }
    }
  }
}
