.asset {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__title {
    text-transform: uppercase;
    color: rgba(33, 33, 33, 1);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    /*align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;*/
  }
  &__description {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    flex-wrap: wrap;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--second-background-color);
    border-radius: 4px;
    max-width: 450px;
    height: 120px;
    padding-top: 25px;
  }
  &__item {
    color: var(--description-color);
    line-height: 1.7;
    margin-bottom: 30px;
    width: 450px;

    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
}
