.clients {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: var(--main-font);
  /*padding-top: 94px;*/
  line-height: 1.17;
  padding-bottom: 50px;

  &__list {
    width: 1170px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 94px;
  }

  &__icon {
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    cursor: pointer;

    &:hover,
    &:focus {
      fill: var(--main-color);
      border-color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
