/*footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-color);
}*/

.footer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  &__description {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__info {
    display: flex;
    gap: 70px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  &__logo {
    color: var(--second-color);
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
    padding-top: 72px;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__phone,
  &__mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 9px;

    &:hover,
    &:focus,
    &:hover,
    &:focus {
      color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--second-color);
    padding-top: 20px;
    padding-bottom: 9px;
  }

  &__icons {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--second-color);
    cursor: pointer;

    &:hover,
    &:focus {
      fill: var(--second-color);
      background-color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  
  .footer {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
}

.newsleter {
  background-color: var(--background-color);

  &__signin {
    display: inline-flex;
    gap: 12px;
  }
  &__email {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;

    &:focus {
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline: 0;
      border: 1px solid var(--main-color);
    }
  }

  &__button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    background-color: var(--main-color);
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--second-color);
    font-size: 16px;
  }
  &__icon {
    position: absolute;
    left: 148px;
    fill: var(--second-color);
    height: 24px;
    width: 24px;
  }
}