.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__close-btn {
    position: absolute;
    right: 9px;
    top: 9px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--second-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 12px;
  }
  &__label {
    display: block;
    position: relative;
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    text-align: left;
    line-height: 1.2;
  }
  &__input {
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 42px;

    @include desktop {
      width: 448px;
    }

    &:focus {
      outline-color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 3%;
    fill: var(--brand-color);
    width: 18px;
    height: 18px;

    &:hover svg {
      fill: var(--blue);
    }
  }
  &__input:focus + &__icon {
    fill: var(--main-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__textarea {
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
    font-size: 12px;
    letter-spacing: 1%;
    resize: none;
    margin-bottom: 20px;
    @include desktop {
      width: 448px;
    }

    &:focus {
      outline-color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__sendbutton {
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    border: 0;
    cursor: pointer;
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__agree a {
    color: var(--main-color);
  }
  &__input {
    display: none;
  }
  &__input:checked + &__span &__check {
    border-color: var(--main-color);
    background-color: var(--main-color);
  }
  &__check {
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    margin-right: 8px;
  }
  &__span {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 14px;
    color: var(--description-color);
  }
}
