.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--brand-color-white);
  display: flex;
  border: 1px solid #ececec;
  @include tablet {
  }
  @include desktop {
    padding: 24px 0px 25px;
  }
}

.menu-toggle {
  width: 40px;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 22px;
  cursor: pointer;

  @include tablet {
    display: none;
  }

  &__btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--main-color);
    }
  }
}

.nav-wrapper-flex {
  background-color: var(--second-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
  }
  @include desktop {
  }
}

.address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}

.navigation {
  align-items: center;
  justify-content: space-between;
  outline: none;
  display: flex;

  @include tablet {
    gap: 83px;
  }
  @include desktop {
    gap: 93px;
  }

  &__link {
    text-decoration: none;
    color: var(--brand-color);
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    outline: none;

    @include tablet {
    }
    @include desktop {
    }

    &:hover,
    &:focus {
      color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__list {
    display: none;

    @include tablet {
      display: flex;
      gap: 60px;
    }
    @include desktop {
      display: flex;
      gap: 46px;
    }
  }
}
.contacts {
  display: none;

  @include tablet {
    display: flex;
  }
  @include desktop {
  }

  &__list {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
    padding: 0;
    margin: 0;
    justify-content: flex-end;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @include desktop {
      flex-direction: row;
      display: flex;
      gap: 50px;
    }
  }

  &__phone {
    color: var(--description-color);
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;

    @include tablet {
      font-size: 12px;
      line-height: 1.16;
    }
    @include desktop {
      font-size: 14px;
      line-height: 1.14;
    }

    &:hover,
    &:focus {
      color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @include tablet {
      }
      @include desktop {
      }
    }
  }
  &__mail {
    color: var(--description-color);
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;

    @include tablet {
      font-size: 12px;
      line-height: 1.16;
    }
    @include desktop {
      font-size: 14px;
      line-height: 1.14;
    }

    &:hover,
    &:focus {
      color: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @include tablet {
      }
      @include desktop {
      }
    }
  }

  &__icons {
    fill: var(--description-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
    }
    @include desktop {
    }

    &:hover,
    &:focus {
      color: var(--main-color);
      fill: var(--main-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--margin {
      margin-right: 10px;
    }
  }
}
