.logo {
  margin-right: 93px;

  &--first {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
  }

  &--second {
    font-family: var(--secondary-font);
    color: #000000;
  }
}
