.mobile-menu {
  &__link {
    color: var(--brand-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 40px 48px 40px;

    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }
  &__address {
    padding: 48px 40px 48px 40px;
  }

  &__tel {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    margin-top: 302px;
    color: var(--main-color);
  }
  &__email {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin: 32px 0 64px 0px;
  }
  &__socials {
   display: flex;
        justify-content: center;
        padding-bottom: 48px;

    &--link {
      color: var(--main-color);

      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
    }

    &--bar {
      padding: 0 10px;
    }
  }
}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }
}
.js-close-menu {
  font-size: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 19.33px;
  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: var(--main-color);
  }
}
.menu-toggle {
  position: absolute;
  top: 25px;
  left: 85%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    fill: var(--main-color);
  }
}
