.navigation__item--active {
  position: relative;

  @include tablet {
  }
  @include desktop {
  }

  &:after {
    content: "";
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: center;

    @include tablet {
      top: 43px;
    }
    @include desktop {
      top: 47px;
    }
  }
}
