:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --brand-color: #212121;
  --second-color: #ffffff;
  --description-color: #757575;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}
